
<div class="row">
  <div class="col-lg-8">
  <h1>Series List</h1>

           <div class="table-responsive">
              <table class="table table-bordered table-hover table-striped tablesorter">
                <thead>
                  <tr>
                    <th>Name <i class="fa fa-sort"></i></th>
                    <th>User Count <i class="fa fa-sort"></i></th>
                    <th>Point Count <i class="fa fa-sort"></i></th>
                    <th>Value Count <i class="fa fa-sort"></i></th>
                  </tr>
                </thead>
                <tbody>

  <% Chawk::Models::Node.all.each do |node| %>  <tr>
  <td><a href="/points/<%=node.address%>/"><%=node.address%></a></td>
  <td> <%= node.relations.length %></td>
  <td> <%= node.points.length %></td>
  <td> <%= node.values.length %></td>
  </tr>
  <% end %>

                </tbody>
              </table>
  </div>
  </div>

<div class="col-lg-4">
<h1>Make a new series</h1>
	<p>This is a list of every series on the server.  Most of them are probably not accessible to you.</p> 
	<p>That's ok, though.  You can create a new series by entering it's name below (as long as no one has already taken it!)</p>
	<form id="new_series_form" role="form">
	<div class="form-group">
	<label>Create your series here</label>
	<input class="form-control" name="new_series" placeholder="Enter unique series name">
	</div>
	<button type="submit" class="btn btn-default">Go!</button>
	</form>

<script>
	$( "#new_series_form" ).submit(function( event ) {
		event.preventDefault();
		var $form = $( this );
		var term = $form.find( "input[name='new_series']" ).val();
		window.location = "/points/"+term;
	});
</script>

</div>
</div><!-- /.row -->
<!-- /.row (index.erb)-->



