<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Series '<%=  @addr.address %>'</h1>
        API path: points/<%=  @addr.address %>/data
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
  <div class="col-lg-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6">
            <i class="fa fa-comments fa-5x"></i>
          </div>
          <div class="col-xs-6 text-right">
            <p class="announcement-heading"><%= @addr.points.length %></p>
            <p class="announcement-text">Data Points</p>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer announcement-bottom">
          <div class="row">
            <div class="col-xs-6">
              View Data
            </div>
            <div class="col-xs-6 text-right">
              <i class="fa fa-arrow-circle-right"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6">
            <i class="fa fa-check fa-5x"></i>
          </div>
          <div class="col-xs-6 text-right">
            <p class="announcement-heading"><%= @last ? Time.at(@last.observed_at).strftime("%b %d %Y %H:%M") : "Never" %></p>
            <p class="announcement-text">Last Timestamp</p>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer announcement-bottom">
          <div class="row">
            <div class="col-xs-6">
              View Entry
            </div>
            <div class="col-xs-6 text-right">
              <i class="fa fa-arrow-circle-right"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6">
            <i class="fa fa-tasks fa-5x"></i>
          </div>
          <div class="col-xs-6 text-right">
            <p class="announcement-heading"><%= @addr.points.max %> / <%= @addr.points.min %></p>
            <p class="announcement-text">Min / Max</p>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer announcement-bottom">
          <div class="row">
            <div class="col-xs-6">
              See Data
            </div>
            <div class="col-xs-6 text-right">
              <i class="fa fa-arrow-circle-right"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="panel panel-success">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6">
            <i class="fa fa-comments fa-5x"></i>
          </div>
          <div class="col-xs-6 text-right">
            <p class="announcement-heading"><%= @addr.node.relations.count %></p>
            <p class="announcement-text">Related Users</p>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer announcement-bottom">
          <div class="row">
            <div class="col-xs-6">
              See Users
            </div>
            <div class="col-xs-6 text-right">
              <i class="fa fa-arrow-circle-right"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div><!-- /.row -->

    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Actions
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="#">Action</a>
                            </li>
                            <li><a href="#">Another action</a>
                            </li>
                            <li><a href="#">Something else here</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="morris-area-chart"></div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>


    <div class="col-lg-4">
        <div class="panel panel-default" >

            <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i> New Value in Series
            </div>

           <form style="margin:15px" id="new_data_form" role="form" method="POST" action="/points/<%= @addr.address %>">
              <div class="form-group">
                <input class="form-control" name="new_data" placeholder="Enter numbers here, separated by commas.">
              </div>
              <button type="submit" class="btn btn-default" >New Value</button>
            </form>


            <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i> Series Controls
            </div>

           <form style="margin:15px" id="public_access" role="form" method="POST" action="/points/<%= @addr.address %>">

            <div class="form-group">
                <label>Public Access</label>
                <label class="checkbox-inline">
                  <input id = "public_read" type="checkbox" <%= "checked" if @addr.node.public_read %> >
                </label>
              </div>

           </form>

             <div style="padding-left:20px;padding-bottom:10px">
              <button id="clear_button" type="submit" class="btn btn-danger" ><i class="fa fa-warning fa-fw"></i>Clear Series</button>
              <button id="delete_button" type="submit" class="btn btn-danger" ><i class="fa fa-trash-o fa-fw"></i>Delete Series</button>
             </div>
            <script>

            $( "#clear_button" ).click(function( event ) {
              if (window.confirm("Are you sure?")) {
                var url = "/addr/<%= @addr.address %>/clear";
              }
                //var url = "/addr/<%= @addr.address %>/public_read";
                //var posting = $.post( url, { value: this.checked } );
            });

            $( "#delete_button" ).click(function( event ) {
              if (window.confirm("Are you sure?")) {
                var url = "/addr/<%= @addr.address %>/delete";
              }
                //var url = "/addr/<%= @addr.address %>/public_read";
                //var posting = $.post( url, { value: this.checked } );
            });

            $( "#public_read" ).change(function( event ) {
                //alert(this.checked);
                var url = "/addr/<%= @addr.address %>/public_read";
                var posting = $.post( url, { value: this.checked } );
            });


            $( "#new_data_form" ).submit(function( event ) {
                event.preventDefault();
                var $form = $( this );
                var term = $form.find( "input[name='new_data']" ).val();
                var url = $form.attr( "action" );
                var posting = $.post( url, { new_data: term } );
            });
            </script>

        </div>
    </div>


<!-- Page-Level Plugin Scripts - Dashboard -->
<script src="/js/plugins/morris/raphael-2.1.0.min.js"></script>
<script src="/js/plugins/morris/morris.js"></script>

<!-- SB Admin Scripts - Include with every page -->
<script src="/js/sb-admin.js"></script>

<script>

var data = <%= @data.to_json %>

var graph;

graph = Morris.Line({
    element: 'morris-area-chart',
    data: data,
    xkey: 'x',
    ykeys: ['a'],
    labels: ['a'],
    parseTime: false,
    ymin: 'auto',
    ymax: 'auto',
    hideHover: true
}).on('click', function(i, row){
  console.log(i, row);
  window.location.href = '/points/<%=@addr.address%>/point/' + row.id;
});

function readCookie(name) {
    var nameEQ = escape(name) + "=";
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) === ' ') c = c.substring(1, c.length);
        if (c.indexOf(nameEQ) === 0) return unescape(c.substring(nameEQ.length, c.length));
    }
    return null;
}

var es = new EventSource('/data_change');

es.onmessage = function(e) {
    var msg = $.parseJSON(event.data);
    console.log(msg);
    refreshData();
}

var refreshData = function() {
    $.getJSON( '/points/<%= @addr.address %>/data?api_key=' + readCookie('chawk.api_key'), function(data) {
        graph.setData(data.data);
    });
}

</script>